
body {
    /* min-height: 110vh; */
    background-color: #79b387;
    color: #132617;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.text-small {
    font-size: 1rem !important;
}
