.text-small {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9rem !important;
}


body {
    min-height: 110vh;
    background-color: #79b387;
}