/* Home Page*/
.welcome-div {
   margin-top: 5rem;
   font-size: 2rem;
}

.img-div{
 align-self: flex-start;
}

.img-gargoyle{
    height: 30px;
    width: 30px;
}

.img-haunted-forest{
    height: 30px;
    width: max-content;
}

.login-div{
    margin-top: 7rem;
    font-size: 1.5rem;
    border-style: double;
    border-color: #122415;
    border-width: 15px;
    background-color: rgb(12, 111, 24);
}

/* Sign Up and Login Page*/
.text-center {
     margin-top: 5rem;
}

.rounded-3 {
    border-radius: .1rem!important;
    border-style: double;
    border-width: medium;
}
.bg-light {
    background-color: rgb(12, 111, 24)!important;
}
.p-5 {
    padding: 3rem!important;
}
.border {
    border: 15px double #122415!important;
}

/* Button on login page */
.btn-primary {
    color: #fff;
    background-color: gray;
    border-color: gray;
}

/* Button on signup page */
.btn-secondary {
    color: #fff;
    background-color: gray;
    border-color: gray;
}

/* Nav Bar in fragment > header */
/* Nav Bar font*/
.text-small {
    font-size: 0.9rem !important;
}

div.nav-div {
    text-align: center;
}

.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #1b3520;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #1b3520;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #364639;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #79b387;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #1b3520;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #1b3520;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #1b3520;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #1b3520;
    }
}

/* Footer */


.fragment-footer {
    flex-wrap: wrap;
    /* content: initial; */
     margin-top:5rem;
     margin-bottom: 5rem;
     text-align: center;
     justify-content: center;
     font-size: 1.5rem;
     border-radius: 10px;
     bottom:0;
     width:100%;
     height:5px;
     padding: 0;
     }

