/* Home Page*/
.welcome-div {
   margin-top: 5rem;
   font-size: 2rem;
}

.img-div{
 align-self: flex-start;
}

.img-castle-town{
    height: 190px;
    width: max-content;
}

.login-div{
    margin-top: 2rem;
    font-size: 1.5rem;
    border-style: double;
    border-color: #122415;
    border-width: 15px;
    background-color: rgb(12, 111, 24);
}

/* Sign Up and Login Page*/
.text-center {
     margin-top: 5rem;
}

.rounded-3 {
    border-radius: .1rem!important;
    border-style: double;
    border-width: medium;
}
.bg-light {
    background-color: rgb(12, 111, 24)!important;
}
.p-5 {
    padding: 3rem!important;
}
.border {
    border: 15px double #122415!important;
}

/* Button on login page */
.btn-primary {
    color: #fff;
    background-color: gray;
    border-color: gray;
}

/* Button on signup page */
.btn-secondary {
    color: #fff;
    background-color: gray;
    border-color: gray;
}

/* About Us Page */
.team {
    margin-top: 5rem;
    text-align: center;
}

.teamMemberPic {
    height:250px;
    width: 250px;
    border-radius: 25%;
}