/* Home Page*/
.home-container {
 margin-top: 5rem;
}

.welcome-div {
   margin-top: 5rem;
   font-size: 2rem;
}

.img-div{
 align-self: flex-start;
}

.img-castle-town{
    height: 190px;
    width: max-content;
}

#login-div{
    margin-top: 2rem;
    font-size: 1.5rem;
    border-style: double;
    border-color: #122415;
    border-width: 10px;
    background-color: rgb(12, 111, 24);
    margin-left: 125px;
    margin-right: 125px;
}

.h1-home {
    font-size: 60px;
}

/* Sign Up and Login Page*/
.text-center {
     margin-top: 5rem;
}

.rounded-3 {
    border-radius: .1rem!important;
    border-style: double;
    border-width: medium;
}
.bg-light {
    background-color: rgb(12, 111, 24)!important;
}
.p-5 {
    padding: 3rem!important;
}
.border {
    border: 15px double #122415!important;
}

/* Button on login page */
.btn-primary {
    color: #fff;
    background-color: gray;
    border-color: gray;
}

/* Button on signup page */
.btn-secondary {
    color: #fff;
    background-color: gray;
    border-color: gray;
}

/* About Us Page */
.team {
    margin-top: 5rem;
    text-align: center;
}

.teamMember {
    margin-top: 3rem;
}

.teamMemberPic {
    height:250px;
    width: 250px;
    border-radius: 25%;
}

/* Leader Board  */
#leader-page-container{
    margin-top: 5rem;
    text-align: center;
}

#leaderboard-title{
    border-style: ridge solid ridge solid;
    border-color: #2e6838;
    border-width: 10px;
    margin-right: 300px;
    margin-left: 300px;
}

.leader-img{
    margin-top: 2rem;
    height: 150px;
    width: 1000px;
}

.user-class-score {
    flex-direction: row;
    flex-wrap: wrap;
     justify-content: flex-start;
     font-size: 20px;
     border-style: double;
     border-color: #122415;
     border-width: 10px;
     background-color: rgb(12, 111, 24);
     padding: 5px;
     margin: 50px;
     margin-right: 300px;
     margin-left: 300px;
}

.leader-ul {
    list-style-type: none;
}

.p-leader {
    font-size: 30px;
}

.warrior-img{
    height: 100px;
    width: 100px;
}

.wizard-img{
    height: 100px;
    width: 100px;
}

.assassin-img{
    height: 100px;
    width: 100px;
}

/* Profile page */
.h1-profile {
    margin-top: 5rem;
    border-style: ridge solid ridge solid;
    border-color: #2e6838;
    border-width: 10px;
    margin-right: 400px;
    margin-left: 400px;
}

.profile-main {
    text-align: center;
}

.player-ul{
    list-style-type: none;
    margin-top: 2rem;
}

.li-status{
    font-size: 25px;
}

#profile-form {
    margin-bottom: 1rem!important;
    margin-left: 200px;
    margin-right: 200px;
}

.p-profile-pg{
    font-size: 15px;
}

.div-player{
    margin-top: 3rem;
}

.woods-img {
    margin-top: 2rem;
    height: 130px;
    width: 800px;
}