#playerStats {
    display: flex;
    flex-flow: row-reverse;
    justify-content: center;
    justify-content: space-evenly;
}

#profile-top {
    margin-bottom: 45px;
}

img {
    height: 300px;
}

#profile-img {
    height: 500px;
}

#classes {
    display: flex;
    justify-content: space-around;
}