<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head('About Us')"></head>
<body>

    <main>
        <div class="teamMember">
            <div class="teamMemberPic">
                <img src="https://via.placeholder.com/150" alt="">
            </div>
            <div class="teamMemberBio">
                <p>Temp</p>
            </div>
        </div>
        <div class="teamMember">
            <div class="teamMemberPic">
                <img src="https://via.placeholder.com/150" alt="">
            </div>
            <div class="teamMemberBio">
                <p>Temp</p>
            </div>
        </div>
        <div class="teamMember">
            <div class="teamMemberPic">
                <img src="https://via.placeholder.com/150" alt="">
            </div>
            <div class="teamMemberBio">
                <p>Temp</p>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer" th:replace="fragments/footer :: div"></div>
    </footer>
</body>
</html>