<!doctype html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header th:replace="./fragments/header :: header"></header>
    <h1>Welcome to Lethani!</h1>
    <p>Try the game out </p>
    <h2>Login</h2>
    <form action="" method="">
        <label>Username</label>
        <input  type="" name="">

        <label>Password</label>
        <input  type="" name="">

        <input type="submit" value="login">
    </form>
<footer th:replace="./fragments/footer :: footer"></footer>
</body>
</html>