<!doctype html>
<html lang="en" xmlns:th="">
<head th:replace="fragments/head :: head('Lethani Landing')"></head>
<body>
<main>
<header th:replace="fragments/header :: header"></header>
    <h1>Welcome to Lethani!</h1>
    <p>Try the game out!</p>
    <h2>Login</h2>
    <form action="/login" method="POST">
        <label for="username">Username</label>
        <input id="username"  type="username" name="Username">

        <label for="password">Password</label>
        <input id="password" type="password" name="Password">

        <input type="submit" value="login">
    </form>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>