<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head('Leader Board')"></head>
<body>
<header th:replace="./fragments/header :: header"></header>
<main>
    <div id="leader-page-container">
        <div id="leader-content-wrapper">
            <div id="leaderboard-title">
            <h1>Leader Board</h1>
            <p class="p-leader">See who has the highest score!</p>
            </div>
            <img class="leader-img" src="/assets/haunted-woods.jpeg" alt="Woods">

            <div class="users-leaders">
                <div class="user-class-score" th:each="highScore : ${highScores}">
                        <div>
                        <img id="profile-img-two" alt="profile picture" loading="lazy"
                        th:src="${@appUserService.getProfilePicturePath(highScore.userPrincipal)}">
                        </div>
                        <div>
                            <img id="class-img-two" th:src="'/assets/' + ${highScore.characterClass} + '.png'">
                        </div>
                        <div>
                            <ul class="leader-ul">
                            <li th:text="${highScore.name}">Username </li>
                            <li th:text="${highScore.characterClass}">Class</li>
                            <li th:text="${highScore.highScore}">XP</li>
                            </ul>
                        </div>
                </div>

            </div>
        </div>
    </div>
</main>
<footer th:replace="./fragments/footer :: footer"></footer>
</body>
</html>