<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head('Leader Board')"></head>
<body>
<header th:replace="./fragments/header :: header"></header>
<main>
    <div id="leader-page-container">
        <div id="leader-content-wrapper">
            <div id="leaderboard-title">
            <h1>Leader Board</h1>
            <p class="p-leader">See who has the highest score!</p>
            </div>
            <img class="leader-img" src="/assets/haunted-woods.jpeg" alt="Woods">

            <div class="users-leaders">
                <div class="user-class-score" th:each="highScore : ${highScores}">
<!--                    <img class="warrior-img"  th:src="${@appUserService.getProfilePicturePath(userPrincipal)}" alt="profile picture">-->
                    <ul class="leader-ul">
                        <li th:text="${highScore.name}">Username </li>
                        <li th:text="${highScore.characterClass}">Class</li>
                        <li th:text="${highScore.highScore}">XP</li>
                    </ul>
                </div>

<!--                <div class="user-class-score">-->
<!--                    <img class="wizard-img" src="/assets/wizard.png" alt="wizard picture">-->
<!--                    <ul class="leader-ul">-->
<!--                        <li>Username: James</li>-->
<!--                        <li>Class: Wizard</li>-->
<!--                        <li>XP: 50</li>-->
<!--                    </ul>-->
<!--                </div>-->

<!--                <div class="user-class-score">-->
<!--                    <img class="assassin-img" src="/assets/assassin.png" alt="assassin picture">-->
<!--                    <ul class="leader-ul">-->
<!--                        <li>Username: Amelia</li>-->
<!--                        <li>Class: Assassin</li>-->
<!--                        <li>XP: 50</li>-->
<!--                    </ul>-->
<!--                </div>-->

            </div>
        </div>
    </div>
</main>
<footer th:replace="./fragments/footer :: footer"></footer>
</body>
</html>