<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head('Leader Board')"></head>
<body>
<header th:replace="./fragments/header :: header"></header>
<main>
    <div id="leader-page-container">
        <div id="leader-content-wrapper">
            <h1>Leader Board</h1>
            <p>See who has the highest score!</p>

            <div class="users-leaders">
                <div>
                    <ul>
                        <li>Username:</li>
                        <li>Class:</li>
                        <li>XP:</li>
                    </ul>
                </div>

                <div>
                    <ul>
                        <li>Username:</li>
                        <li>Class:</li>
                        <li>XP:</li>
                    </ul>
                </div>

                <div>
                    <ul>
                        <li>Username:</li>
                        <li>Class:</li>
                        <li>XP:</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</main>
<footer th:replace="./fragments/footer :: footer"></footer>
</body>
</html>