<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/module.css">
    <link rel="stylesheet" href="/css/state.css">
</head>
<body>
    <header>
        <div class="header" th:="fragments/header :: div"></div>
    </header>
    <main>
        <div class="gameDiv">
            <div>
                <!--get this element by id then update the game state and this to make it "go down".            -->
                <progress class="hpBar" value="100" max="100"></progress>
            </div>
            <div class="xpDiv">
                <p>Temp XP Holder</p>
            </div>
            <div class="gameBoard">
<!--                Game Board goes here     -->
            </div>
            <div>
                <button class="inventoryButton"></button>
<!--                Other buttons and items go here. not sure what the circles on the wireframe are for -GM -->
            </div>
        </div>
        <div class="messageDiv">
            <div class="messageTextBox">
<!-- Message Box html goes here    -->
            </div>
            <div class="messageInput">
                <form action="POST" class="messageFormField">
                    <input type="text">
                    <submit></submit>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer" th:replace="fragments/footer :: div"></div>
    </footer>
</body>
</html>