<!doctype html>
<html lang="en" xmlns:th="">
<head th:replace="fragments/head :: head('Profile')"></head>
<body>
<header th:replace="./fragments/header :: header"></header>
<main>
    <h1>Profile</h1>
    <div>
        <img src="" alt="your class/character picture">
    </div>

    <div>
        <h2>Player Name:</h2>
        <ul>
            <li>Status</li>
            <li>Player XP:</li>
            <li>Mobs killed:</li>
        </ul>
    </div>

    <div>
        <h2>profile name</h2>
        <img alt="profile picture" loading="lazy"
             th:src="${@appUserService.getProfilePicturePath(userPrincipal)}">
        <form class="p-3" action="/profile/image?_method=PUT" method="post" enctype="multipart/form-data">
            <fieldset class="mb-3">
                <label for="image-upload">Profile picture</label>
                <input class="form-control form-control-sm"
                       name="image"
                       id="image-upload"
                       type="file" accept="image/*"></input>
            </fieldset>
            <input type="submit" value="Change Profile Image"></input>
        </form>
    </div>



    <h2>Class Information</h2>
    <p>Class:</p>

    <h2>Your Class</h2>
    <p>Reset and change your class</p>
    <img src="" alt="your class/character picture">
    <img src="" alt="your class/character picture">
    <img src="" alt="your class/character picture">


</main>
<footer th:replace="./fragments/footer :: footer"></footer>
</body>
</html>